<!DOCTYPE html>
<html>
<head>
	<title>Project - About</title>
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
	
	<p>
		<h3>
			&emsp;&emsp;The participants in the project are:-
		</h3>
	</p>
	<br><br><br>

	<div>
		<table width=100%>
		<tr><th><img class="aboutimg" src="ram.jpeg" width="200px" height="200px"></th>
		<th><img class="aboutimg" src="rohan.png" width="200px" height="200px"></th>
		<th><img class="aboutimg" src="sumiran.jpg" width="200px" height="200px"></th>
		<th><img class="aboutimg" src="WhatsApp Image 2019-10-14 at 20.45.41.jpeg" width="200px" height="200px"></th>
		
		<th><img class="aboutimg" src="WhatsApp Image 2019-10-14 at 20.48.10.jpeg" width="200px" height="200px"></th>
		<tr><th><strong></strong></th>
		<th><strong></strong></th>
		
	</table>
	</div>

</ol>
	<div class="calign">
		<a href="index.html"><h2>Home</h2></a>
	</div>
</body>
</html>
 